<div class="row-5-padding-rec ">
  
<%= form_for(@business) do |f| %>
  <% if @business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% @business.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Company Name:", class: "sr-only1" %>
    <%= f.text_field :name, class: "form-control", placeholder: "Company Name" %>
  </div>
  <div class="form-group">
    <%= f.label :detail, "Description:",class: "sr-only1" %>
    <%= f.text_area :detail, class: "form-control", placeholder: "Description", rows: 4 %>
  </div>
      <div class="form-group">
    <%= f.label :website, "Website:", class: "sr-only1" %>
    <%= f.text_field :website, class: "form-control", placeholder: "Website" %>
  </div>
  
  <h4 class="mt30 mb20" >User details</h4>
  
        <%= f.fields_for :biz_users, @biz_users do |biz_user_field| %>
            <div class="col-md-2 col-xs-12">
              <div class="form-group">
                <%= biz_user_field.label :salutation, class: "sr-only"%>
                <%= biz_user_field.select :salutation, options_for_select([ "Mr", "Ms" ], "Mr"),{}, {class: "form-control"} %>
              </div>
            </div>
            <div class="col-md-5 col-xs-12">
              <div class="form-group">
                <%= biz_user_field.label :fname, class: "sr-only" %>
                <%= biz_user_field.text_field :fname, class: "form-control", placeholder: "First Name" %>
              </div>
            </div>
            <div class="col-md-5 col-xs-12">
              <div class="form-group">
                <%= biz_user_field.label :lname, class: "sr-only" %>
                <%= biz_user_field.text_field :lname, class: "form-control", placeholder: "Last Name" %>
              </div>
            </div>
          <div class="form-group">
              <div class="col-md-12 mb10">
                <%= biz_user_field.label :email, class: "sr-only" %>
                <%= biz_user_field.text_field :email, class: "form-control", placeholder: "e-mail" %>
              </div>
          </div>
          <div class="form-group">
              <div class="col-md-6 col-xs-12 mb10">
                <%= biz_user_field.label :password, class: "sr-only" %>
                <%= biz_user_field.password_field :password, class: "form-control", placeholder: "password" %>
              </div>
              <div class="col-md-6 col-xs-12 mb10">
                <%= biz_user_field.label :password, class: "sr-only" %>
                <%= biz_user_field.password_field :password_confirmation, class: "form-control", placeholder: "password again" %>
              </div>
          </div>
          <div class="form-group">
              <div class="col-md-12 col-xs-12 mb10">
                <%= biz_user_field.label :mobile, class: "sr-only" %>
                <%= biz_user_field.text_field :mobile, class: "form-control", placeholder: "mobile" %>
              </div>
          </div>
      <% end %>
  <div class="actions">
  <%= link_to 'Back', @business , class: "btn btn-warning" %>
    <%= f.submit class: "btn btn-primary pull-right" %>
  </div>
<% end %>

</div>