<div id="question" class="mb20" ></div>
<div>
<%= link_to 'Add Inquiry Questions', "#", id: "add_question", class: "pull-xs-right" %>

<% if @inquiry_questions.present? %>
  <p class="lead" >Inquiry Questions</p>

<table class="table table-hover">
  <thead class="thead-default">
    <tr>
      <th>#</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

      <% @inquiry_questions.each_with_index do |q, i| %>

      <tr>
        <th scope="row"><%= i+1 %>. </th>
        <td><%= q.title %></td>
        <td><%= link_to "Edit", "#",id: "edit_question_#{i+1}", class: "text-md-right" %></td>
      </tr>

      <script>
          $("#edit_question_<%= i+1 %>").click(function(){
            $.get("<%= edit_inquiry_question_path(q) %>", function(data){
              $("#question").html(data);
            });
          });
      </script>
      <% end %>

  </tbody>
</table>
<% else %>
<small> No Inquiry questions present.</small>
<% end %>

</div>
<script>
  $("#add_question").click(function(){
    $.get("<%= new_business_inquiry_question_path(@business) %>", function(data){
      $("#question").html(data);
    });
  });

</script>