<p id="notice"><%= notice %></p>
<h3 class=" text-sm-center">
  <%= @business.name %>
</h3>
<div>
  
<p>
  <%= link_to 'Edit Business', edit_business_path(@business) , class: "pull-xs-right" %> 
</p>
</div>
<div class="mt10" >
  
<p>
  <strong>Detail:</strong>
  <%= @business.detail %>
</p>

</div>
<p>
  <strong>Website:</strong>
  <%= @business.website %>
</p>


<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" href="#inquiry_questions_tab" role="tab" data-toggle="tab">Inquiry Questions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#survey_questions_tab" role="tab" data-toggle="tab">Survey Questions</a>
  </li>
<!--  <li class="nav-item">
    <a class="nav-link" href="#inquiry_tab" role="tab" data-toggle="tab">Inquiries</a>
  </li>-->
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="inquiry_questions_tab">
      <%= render 'inquiry_questions'%>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="survey_questions_tab">
      <%= render 'survey_questions'%>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="inquiry_tab">
      <% #  render 'inquiries'%>
  </div>
</div>

<script>
    $("#home_menu").addClass('active');
</script>