<%= form_for(@survey_item_template) do |f| %>
  <% if @survey_item_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey_item_template.errors.count, "error") %> prohibited this survey_item_template from being saved:</h2>

      <ul>
      <% @survey_item_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Question_title %><br>
    <%= f.text_field :Question_title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :SurveyTemplate_id %><br>
    <%= f.text_field :SurveyTemplate_id %>
  </div>
  <div class="field">
    <%= f.label :SurveyItemCategory_id %><br>
    <%= f.text_field :SurveyItemCategory_id %>
  </div>
  <div class="field">
    <%= f.label :survey_item_templatable_id %><br>
    <%= f.text_field :survey_item_templatable_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
