<% if @business.inquiries.present? %>
<div class="form-group">
  <h4>Filter </h4>
  <%= form_tag("/businesses/#{@business.id}/inquiry_filters/view") do %>
  <div class='row'>

    <div class="col-xs-3">
    status  <%= select_tag "status", options_for_select(@business.inquiries.select("distinct workflow_state").collect{|x| [x.current_state,x.current_state]}, selected: session[:status_filter]), include_blank: "All", class: 'form-control', id: 'status_filter' %>
    </div>
    <div class="col-xs-3">
    City <%= select_tag "city", options_for_select(@locations, selected: session[:city_filter]), include_blank: "All", class: 'form-control', id: 'status_filter' %>
    </div>
    <div class="col-xs-3">
    From date <%= text_field_tag :from_date,'' ,id: 'from_date', class: 'form-control'  %>
    </div>
    <div class="col-xs-3">
    To date <%= text_field_tag :to_date,'', id: 'to_date', class: 'form-control'  %>
    </div>
  </div>
  <div class='row mt10 mr0'>
      <%= submit_tag 'submit', class: 'btn btn-primary pull-xs-right' %>
  </div>
  <% end %>

</div>

<div id="inquiry_table">

<table class="table table-hover">
  <thead class="thead-default">
    <tr>
      <th>Date</th>
      <!--<th>#</th>-->
      <th>Inquiry no.</th>
      <th>Inquirer name</th>
      <th>Status</th>
      <th>action</th>
    </tr>
  </thead>
  <tbody>

      <% @inquiries.each_with_index do |a, i| %>

      <tr>
        <!--<td scope="row"><%= i+1 %>. </td>-->
        <td><%= a.created_at.strftime("%d %b %Y") %></td>
        <td><%= link_to a.token, a %>        </td>
        <td><%= a.user.name unless a.user.blank? %></td>
        <td class="text-success"><%= a.current_state %></td>
        <td><%= link_to 'view', a %>        </td>
      </tr>

      <% end %>

  </tbody>
</table>
<div class="text-center">
<%= paginate @inquiries %>
</div>
</div>
<% else %>
<h4 class="mt20"> No Inquiry present.</h4>
<% end %>

<script>
  $("#inquiries_menu").addClass('active');

  $("#status_filter").change(function(){
    $.get("<%= business_inquiries_path(@business) %>", {status_filter: $("#status_filter").val()}).done(function(data){
      $("#inquiry_table").html($(data).find("#inquiry_table").html());
    });
  });


    $(function() {
            $('#from_date').datetimepicker({
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                },
                format: 'DD/MM/YYYY'
            });

        $('#to_date').datetimepicker({
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                },
                useCurrent: false, //Important! See issue #1075
                format: 'DD/MM/YYYY'
            });

        $("#from_date").on("dp.change", function (e) {
            $('#to_date').data("DateTimePicker").minDate(e.date);
        });
        $("#to_date").on("dp.change", function (e) {
            $('#from_date').data("DateTimePicker").maxDate(e.date);
        });

  });
</script>