<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <%= f.hidden_field :userable %>
      <%= f.hidden_field :commentable %>

  <div class="col-xs-11 plr0">
      <%= f.text_area :content, class: "form-control custom-control width-100pt border-right-radius-0", placeholder: "Comment", rows: "1" %>
  </div>
  <div class="col-xs-1 pl0">
      <%= f.submit "Go", class: "btn btn-primary border-left-radius-0" %>
  </div>
<% end %>
