<%= form_for(@biz_user) do |biz_user_field| %>
  <% if @biz_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@biz_user.errors.count, "error") %> prohibited this biz_user from being saved:</h2>

      <ul>
      <% @biz_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="col-md-2 col-xs-12">
              <div class="form-group">
                <%= biz_user_field.label :salutation, class: "sr-only"%>
                <%= biz_user_field.select :salutation, options_for_select([ "Mr", "Ms" ], "Mr"),{}, {class: "form-control"} %>
              </div>
            </div>
            <div class="col-md-5 col-xs-12">
              <div class="form-group">
                <%= biz_user_field.label :fname, class: "sr-only" %>
                <%= biz_user_field.text_field :fname, class: "form-control", placeholder: "First Name" %>
              </div>
            </div>
            <div class="col-md-5 col-xs-12">
              <div class="form-group">
                <%= biz_user_field.label :lname, class: "sr-only" %>
                <%= biz_user_field.text_field :lname, class: "form-control", placeholder: "Last Name" %>
              </div>
            </div>
          <div class="form-group">
              <div class="col-md-12 mb10">
                <%= biz_user_field.label :email, class: "sr-only" %>
                <%= biz_user_field.text_field :email, class: "form-control", placeholder: "e-mail" %>
              </div>
          </div>
          <div class="form-group">
              <div class="col-md-6 col-xs-12 mb10">
                <%= biz_user_field.label :password, class: "sr-only" %>
                <%= biz_user_field.password_field :password, class: "form-control", placeholder: "password" %>
              </div>
              <div class="col-md-6 col-xs-12 mb10">
                <%= biz_user_field.label :password, class: "sr-only" %>
                <%= biz_user_field.password_field :password_confirmation, class: "form-control", placeholder: "password again" %>
              </div>
          </div>
          <div class="form-group">
              <div class="col-md-12 col-xs-12 mb10">
                <%= biz_user_field.label :mobile, class: "sr-only" %>
                <%= biz_user_field.text_field :mobile, class: "form-control", placeholder: "mobile" %>
              </div>
          </div>
    <%= biz_user_field.hidden_field :business_id %>
  <div class="form-group col-md-12">
    <%= biz_user_field.submit "Update", class: "btn btn-primary" %>
    <%= link_to 'Cancel', @biz_user, class: "btn btn-secondary active" %>
  </div>
<% end %>
