<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @biz_user.salutation %>.
  <%= @biz_user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @biz_user.email %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @biz_user.mobile %>
</p>

<p>
  <strong>Business:</strong>
  <%= @biz_user.business %>
</p>

<%= link_to 'Edit Business user details', edit_business_biz_user_path(@business, @biz_user) %>
