<h4 class="mt10"><%= @survey_template.title.capitalize %></h4>

<p class="mb10">
  <%= @survey_template.description %>
</p>
	<% @survey_template.survey_item_category_templates.each do |survey_item_category_template| %>
      <table class="table table-bordered">
        <thead>
          <tr class="table-info">
          <th>Section: <%= survey_item_category_template.title %></th>
          </tr>
        </thead>
        <tbody>
          <tr><td class="p0">
            <table class="width-100pt">
            <thead>
              <tr>
                <th class="wd10"># </th>
                <th>Survey Item templates</th>
              </tr>
            </thead>
          <% survey_item_category_template.survey_item_templates.each_with_index do |survey_item_template, i| %>
            <tbody>
                <tr>
                  <th class="row"><%= i+1 %>. </th>
                  <td><%= survey_item_template.question_title %><br>
                  <% if survey_item_template.survey_data_types.exists? %>
                    <strong>Survey data types:</strong>
                      <% survey_item_template.survey_data_types.each do |dt| %>
                        <kbd> <kbd><%= dt.title %></kbd></kbd>
                      <% end %>
                  <% end %>
                  </td>
                </tr>
            </tbody>
          <% end %>
          </table>
          </td>
          </tr>
      </tbody>
    </table>
    <% end %>
