<p id="notice"><%= notice %></p>

<h1>Listing Inquiry Questions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Business</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inquiry_questions.each do |inquiry_question| %>
      <tr>
        <td><%= inquiry_question.title %></td>
        <td><%= inquiry_question.business %></td>
        <td><%= link_to 'Show', inquiry_question %></td>
        <td><%= link_to 'Edit', edit_inquiry_question_path(inquiry_question) %></td>
        <td><%= link_to 'Destroy', inquiry_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inquiry question', new_inquiry_question_path %>
