<%= form_for(@survey_data_type) do |f| %>
  <% if @survey_data_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey_data_type.errors.count, "error") %> prohibited this survey_data_type from being saved:</h2>

      <ul>
      <% @survey_data_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title , class: "form-control", placeholder: "Title" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to 'Cancel', survey_data_types_path , class: "btn btn-secondary active"%>
  </div>
<% end %>
