<%= form_for(@survey_item_category_template) do |f| %>
  <% if @survey_item_category_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey_item_category_template.errors.count, "error") %> prohibited this survey_item_category_template from being saved:</h2>

      <ul>
      <% @survey_item_category_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, class: "sr-only"  %>
    <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
  </div>
    <%= f.hidden_field :survey_template_id %>
  <div class="form-group">
    <%= f.submit "Create", class: "btn btn-primary" %>
    <%= link_to 'Cancel', @survey_item_category_template.survey_template, class: "btn btn-secondary active", role: "button"  %>
  </div>
<% end %>
