  
<%= form_for(@survey_question, url: business_survey_questions_path(@business), method: :post) do |f| %>
  <% if @survey_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey_question.errors.count, "error") %> found, please fill up highlighted fields:</h2>

      <ul>
      <% @survey_question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, class: "sr-only" %>
    <%= f.text_field :title, class: "form-control", placeholder: "Write question here...", :disable_with => "Saving..." %>
  </div>
    <%= f.hidden_field :business_id %>
    <%= f.hidden_field :global %>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
