<%= form_for(@survey) do |f| %>
      <%= f.fields_for :survey_item_categories,  @survey.survey_item_categories do |sic| %>
          <div>Section: <%= sic.text_field :title %></div>
          <%= sic.fields_for :survey_items do |si| %>
                  <div><%= si.text_field :title %></div>
          <% end %>
      <% end %>
                  <div><%= @survey.survey_item_categories.map { |c| p c.title } %></div>
<% end %>
