<%= form_for(@survey, url: business_inquiry_survey_path(@business, @inquiry, @survey) ) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<table class="table table-hover">
  <thead class="thead-default">
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Visible</th>
    </tr>
  </thead>

  <tbody>
          <%= f.fields_for :survey_items do |si| %>
      <tr>
        <td scope="row"><%= si.index+1 %>. </td>
        <td><%= si.object.survey_question.title %><br>
           <%= si.hidden_field :survey_question_id, value: si.object.survey_question.id %>
              <%= si.fields_for :survey_biz_user_answer do |sa| %>
                  <div class="form-group">
                    <%= sa.label :answer, "Business Answer:" %>
                    <%= sa.text_area :answer, class: "form-control", placeholder: "Business Answer" %>
                  </div>
              <% end %>
              <%= si.fields_for :survey_user_answer do |sa| %>
                  <div class="form-group">
                    <%= sa.label :answer, "User Answer:" %>
                    <%= sa.text_area :answer, class: "form-control", placeholder: "User Answer" %>
                  </div>
              <% end %>
        </td>
        <td><%= si.check_box :visible %></td>
      </tr>
          <% end %>
      


  </tbody>
</table>

    <%= f.hidden_field :inquiry_id %>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

<script>
  //  $('#survey_survey_items_visible').bootstrapToggle();
</script>