<p id="notice"><%= notice %></p>

<p>inquiry no. <%= link_to @survey.inquiry.token, @survey.inquiry  %></p>
<table class="table table-hover">
  <thead class="thead-default">
    <tr>
      <th>#</th>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
          <% @survey.survey_items.each_with_index do |si, i| %>
          <% if si.visible %>
      <tr>
        <td scope="row"><%= i+1 %>. </td>
        <td><%= si.survey_question.title %><br>
            <p>Business Answer:</p>
              <p class="text-success"><%=  si.survey_biz_user_answer.answer.blank? ? "-N/A-" : si.survey_biz_user_answer.answer %></p>
            <p>User Answer:</p>
              <p class="text-success"><%=  si.survey_user_answer.answer.blank? ? "-N/A-" : si.survey_user_answer.answer %></p>
        </td>
      </tr>
          <% end %>
          <% end %>
  </tbody>
</table>

<% if logged_in? && (@survey.inquiry.business.biz_users.to_a.include? current_user) %>
  <% if @survey.inquiry.current_state == 'awaiting_biz_input' || @survey.inquiry.current_state == 'awaiting_biz_review' || @survey.inquiry.current_state == 'accepted' %>
    <%= link_to "Request for Franchisee input", user_input_inquiry_survey_workflows_path(@survey.inquiry) , class: "btn btn-primary" %>
  <% end %>
    <% if @survey.inquiry.current_state == 'awaiting_biz_review' %>
      <%= link_to "Survey complete", complete_inquiry_survey_workflows_path(@survey.inquiry) , class: "btn btn-success" %>
    <% end %> 
<% end %>

