<p id="notice"><%= notice %></p>



<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Survey Templates
        <div class="pull-xs-right">
        <%= link_to 'Create', new_polymorphic_path([@poly_ref, SurveyTemplate.new]) %> |
        <%= link_to 'Import', new_business_import_survey_template_path(@poly_ref) %>
        </div>
      </th>
    </tr>
  </thead>

  <tbody>
    <% if @survey_templates.present? %>
        <% @survey_templates.each do |survey_template| %>
          <tr>
            <td>
            <%= link_to survey_template.title,  polymorphic_path([@poly_ref, survey_template]) %><br>
            <small><%= survey_template.description %></small>
            </td>
          </tr>
        <% end %>
    <% else %>
       <tr>
          <td>
            <small>No Survey templates present.</small>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
    $("#st_menu").addClass('active');
</script>