<div class="mt20">
  <p class="mb10 mt10">
    <strong>Inquiry no:</strong>
    <%= @inquiry.token %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= @inquiry.user.salutation %>
    <%= @inquiry.user.name %>
  </p>
  
  <p>
    <strong>Email:</strong>
    <%= @inquiry.user.email %>
  </p>
  
  <p>
    <strong>Mobile:</strong>
    <%= @inquiry.user.mobile %>
  </p>
  
  <p>
    <strong>City:</strong>
    <%= @inquiry.user.address.city.capitalize %>
  </p>

<p>
  <strong>Interested location for setup:</strong>
  <%= @inquiry.location.address %>
</p>

<div>
  <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @inquiry.location.address %>&zoom=14&size=700x400&markers=<%= @inquiry.location.latitude %>,<%= @inquiry.location.longitude %>&format=png&visual_refresh=true" alt="map" />
</div>

<h4 class="mt20"></h4>
<div class="mt20">
      <%= render 'inquiries/inquiries'%>
</div>

</div>
<!--  <img src="http://www.dafont.com/img/illustration/h/a/have_a_great_day.jpg" alt="map" />-->