<% if @inquiry.survey.nil? %>
  <%= form_tag(new_inquiry_survey_path(@inquiry), method: :get) do  %>
    <div class="form-inline">
    <%= select_tag "survey_template_id", options_for_select(@inquiry.business.survey_templates.map{|i| [i.title ,i.id]}), prompt: "select", id: "survey_select" , class: "form-control" %>
    <%= submit_tag  "import",  class: "btn btn-primary" %>
    </div>
  <% end %>
<div id="survey_template" class="mt20"></div>
<script>
  $("#survey_select").change(function(){
    $.get('/import_surveys/'+$(this).val(), function(data){
      $("#survey_template").html($(data).find("#content-body"));
    });
  });
</script>
<% else %>
    <div class="pull-xs-right">
    <%= link_to 'Edit Survey', edit_inquiry_survey_path(@inquiry, @inquiry.survey) %> |
    <%= link_to 'Delete Survey', @inquiry.survey, method: :delete, data: { confirm: 'Are you sure?' }  %>
    </div>
     <% @inquiry.survey.survey_item_categories.each do |survey_item_category| %>
      <table class="table table-bordered">
        <thead>
          <tr class="table-info">
          <th>Section: <%= survey_item_category.title %></th>
          </tr>
        </thead>
        <tbody>
          <tr><td class="p0">
            <table class="width-100pt">
            <thead>
              <tr>
                <th class="wd10"># </th>
                <th>Survey Items</th>
              </tr>
            </thead>
          <% survey_item_category.survey_items.each_with_index do |survey_item, i| %>
            <tbody>
                <tr>
                  <th class="row"><%= i+1 %>. </th>
                  <td><%= survey_item.title %>
                  <% if logged_in? %>
                    <%= form_for(survey_item, remote: true) do |f| %>
                  <p>Status:
                      <%= f.select :status, options_for_select([ "Business pending", "Franchisee input pending","Mismatch", "Reject", "Accept" ], survey_item.status) , { include_blank: "select"}, class: "form-control-sm status", id: "si_status_#{}" %>
                  </p>
                    <% end %>
                  <% else %>
                  <p>Status:
                    <%= survey_item.status %>
                  </p>
                  <% end %>
                  <% if survey_item.survey_data_types.exists? %>
                    <strong>Survey data types:</strong>
                      <% survey_item.survey_data_types.each do |dt| %>
                        <kbd> <kbd><%= dt.title %></kbd></kbd>
                      <% end %>
                  <% end %>
                  <div id="sbua_dis_<%= survey_item.survey_biz_user_answer.id %>" >
                  <% unless survey_item.survey_biz_user_answer.answer.blank? %>
                    <strong>Business Answer:</strong>
                    <%= button_tag "Edit", id: "sbua_a_#{survey_item.survey_biz_user_answer.id}", class: "pull-xs-right btn btn-primary" %>
                    <br>
                    <p>
                      <%= survey_item.survey_biz_user_answer.answer %><br>
                    </p>
                  <% end %>
                  </div>
                  <div id="sbua_upt_<%= survey_item.survey_biz_user_answer.id %>" >
                    <%= form_for(survey_item.survey_biz_user_answer, remote: true) do |sa| %>
                      <div class="form-group">
                        <strong><%= sa.label :answer, "Business Answer:" %></strong>
                        <%= sa.text_area :answer, class: "form-control", placeholder: "Business Answer" %>
                      </div>
                      <div class="form-group">
                        <%= sa.submit class: "btn btn-primary" %>
                        <%= button_tag 'Cancel', class: "btn btn-secondary active cancel_survey_ans" %>
                      </div>
                    <% end %>
                  </div>

                  <% unless survey_item.survey_user_answer.answer.blank? %>
                    <strong>Franchisee Answer:</strong>
                    <p>
                      <%= survey_item.survey_user_answer.answer %><br>
                    </p>
                  <% end %>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" id="comments_td_<%= survey_item.id %>">
                        <%= render partial: 'comments/comment', locals: { survey_item: survey_item, inquiry: @inquiry } %>
                  </td>
                </tr>
            </tbody>
          <% end %>
          </table>
          </td>
          </tr>
      </tbody>
    </table>
    <% end %>

  <% if @inquiry.current_state == 'awaiting_biz_input' || @inquiry.current_state == 'awaiting_biz_review'|| @inquiry.current_state == 'accepted' %>
    <%= link_to "Request for Franchisee input", user_input_inquiry_survey_workflows_path(@inquiry) , class: "btn btn-primary" %>
  <% end %>
  <% if @inquiry.current_state == 'awaiting_biz_review' %>
    <%= link_to "Survey complete", complete_inquiry_survey_workflows_path(@inquiry) , class: "btn btn-success" %>
  <% end %>

<% end %>

<script type="text/javascript">
  $("button[id*=sbua_a_]").parent().next().hide();
  $("button[id*=sbua_a_]").click(function(){
    $(this).parent().next().show();
    $(this).parent().hide();
  });
  $(".cancel_survey_ans").click(function(){
    $(this).parent().parent().parent().hide();
    $(this).parent().parent().parent().prev().show();
  });

  $(".status").change(function(){
    $(this).parent().parent('form').submit();
  });


</script>