<% if @business.inquiries.present? %>
<div class="form-inline">
  <p>Filter by status: <%= select_tag "status", options_for_select(@business.inquiries.select("distinct workflow_state").collect{|x| [x.current_state,x.current_state]}, selected: session[:status_filter]), include_blank: "All", class: 'form-control', id: 'status_filter' %> </p>
  <p>Filter by Date: From <%= text_field :date,'' ,id: 'from_date', class: 'form-control'  %> To <%= text_field :date,'', id: 'to_date', class: 'form-control'  %></p>
</div>

<div id="inquiry_table">

<table class="table table-hover">
  <thead class="thead-default">
    <tr>
      <th>Date</th>
      <!--<th>#</th>-->
      <th>Inquiry no.</th>
      <th>Inquirer name</th>
      <th>Status</th>
      <th>action</th>
    </tr>
  </thead>
  <tbody>

      <% @inquiries.each_with_index do |a, i| %>

      <tr>
        <!--<td scope="row"><%= i+1 %>. </td>-->
        <td><%= a.created_at.strftime("%d %b %Y") %></td>
        <td><%= link_to a.token, a %>        </td>
        <td><%= a.user.name unless a.user.blank? %></td>
        <td class="text-success"><%= a.current_state %></td>
        <td><%= link_to 'view', a %>        </td>
      </tr>

      <% end %>

  </tbody>
</table>
<div class="text-center">
<%= paginate @inquiries %>
</div>
</div>
<% else %>
<h4 class="mt20"> No Inquiry present.</h4>
<% end %>

<script>
  $("#inquiries_menu").addClass('active');

  $("#status_filter").change(function(){
    $.get("<%= business_inquiries_path(@business) %>", {status_filter: $("#status_filter").val()}).done(function(data){
      $("#inquiry_table").html($(data).find("#inquiry_table").html());
    });
  });

  $(function () {
    $('#from_date').datetimepicker();
    $('#to_date').datetimepicker();
  });
</script>