<div class="mt20">
<p class="mb10 mt10">
  <strong>Inquiry no:</strong>
  <%= @inquiry.token %>
</p>
<p>
  <strong>Name:</strong>
  <%= @inquiry.user.salutation %>
  <%= @inquiry.user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @inquiry.user.email %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @inquiry.user.mobile %>
</p>

<p>
  <strong>City:</strong>
  <%= @inquiry.user.address.city.capitalize %>
</p>

<p>
  <strong>Interested location for setup:</strong>
  <%= @inquiry.location.address %>
</p>
</div>



<div class="mt20">
  
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" href="#inquiry_tab" role="tab" data-toggle="tab">Basic</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#survey_tab" role="tab" data-toggle="tab">Survey</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content mt20">
  <div role="tabpanel" class="tab-pane fade in active" id="inquiry_tab">
      <%= render 'inquiries'%>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="survey_tab">
      <%= render 'surveys'%>
  </div>
</div>


</div>
