<%= form_for(@survey_item) do |f| %>
  <% if @survey_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey_item.errors.count, "error") %> prohibited this survey_item from being saved:</h2>

      <ul>
      <% @survey_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :survey_question_id %><br>
    <%= f.text_field :survey_question_id %>
  </div>
  <div class="field">
    <%= f.label :survey_user_answer_id %><br>
    <%= f.text_field :survey_user_answer_id %>
  </div>
  <div class="field">
    <%= f.label :survey_biz_user_answer_id %><br>
    <%= f.text_field :survey_biz_user_answer_id %>
  </div>
  <div class="field">
    <%= f.label :inquiry_id %><br>
    <%= f.text_field :inquiry_id %>
  </div>
  <div class="field">
    <%= f.label :visible %><br>
    <%= f.check_box :visible %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
