<p id="notice"><%= notice %></p>

<h1>Listing Survey Items</h1>

<table>
  <thead>
    <tr>
      <th class="pr15" >Id</th>
      <th class="pr15">Survey question</th>
      <th class="pr15">Survey user answer</th>
      <th class="pr15">Survey biz user answer</th>
      <!--<th>Inquiry</th>-->
      <th class="pr15">Visible</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @survey_items.each do |survey_item| %>
      <tr>
        <td><%= survey_item.id %></td>
        <td><%= survey_item.survey_question %></td>
        <td><%= survey_item.survey_user_answer %></td>
        <td><%= survey_item.survey_biz_user_answer %></td>
       <!-- <td><%= survey_item.inquiry %></td>-->
        <td><%= survey_item.visible %></td>
        <td><%= link_to 'Show', survey_item %></td>
        <td><%= link_to 'Edit', edit_survey_item_path(survey_item) %></td>
        <td><%= link_to 'Destroy', survey_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Survey item', new_survey_item_path %>
