<%= form_for(@inquiry_qna, url: business_inquiry_inquiry_qn_as_path(@business, @inquiry), method: :post) do |f| %>

  <%= f.fields_for @business do |b| %>
      <%= b.hidden_field :id %>
      <%= b.fields_for :inquiry_questions do |q| %>
          <%= q.object.title %>
      
          <%= q.fields_for :inquiry_answers, q.object.inquiry_answers.build do |a| %>
              <div class="form-group">
                <%= a.label :answer, class: "sr-only" %>
                <%= a.text_field :answer, class: "form-control", placeholder: "Answer" %>
                <%= a.hidden_field :inquiry_id, value: @inquiry.id %>
              </div>
          <% end %>
      <% end %>
  <% end %>
  
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
